/* You can add global styles to this file, and also import other style files */
form input[submit] {
	cursor: pointer;
}

form input[disabled] {
	opacity: 0.4;
	cursor: not-allowed;
}

#editor {
	height: 150px;
}

.btn-texteditor:hover fa-icon{
	color: #444;
}